html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	backround-color: #d3d3d3;
}

div {
	border: 1px solid Chocolate;
}

.top-navigation {
	background-color: #fff;
}

.top-navigation > .content {
	width: 62rem;
	height: 6rem;
	margin: 0 auto;
	padding: 0px 15px;
}
.content > img {
	margin-left: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.top-navigation .links {
	float: right;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	margin-top: 2.3rem;
	-webkit-font-smoothing: antialiased;
}

.top-navigation .links > .active {
	color: #4c5058;
	font-weight: 500;
}

.top-navigation .links li {
	display: inline-block;
	margin-left: 2rem;
}

.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}

.introduction {
    background-image: url('images/first-background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}

.content h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
}

.content h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
}

.content h1, .content h3 {
    color: white;
    text-align: center;
    font-weight: 300;
}

button:hover {
	background-color: #f55b59;
	cursor: pointer;
}

button {
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
    display: block;
    margin: 0 auto;
}